<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div>
  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-secondary">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-home"></i>
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/affiche">
            <i class="fa fa-list">
              <span class="badge badge-danger"></span>
            </i>
            Listes Assignements
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add">
            <i class="fa fa-pencil-square-o">
              <span class="badge badge-warning"></span>
            </i>
            Ajout Assignements
          </a>
        </li>

      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-bell">
              <span class="badge badge-info">11</span>
            </i>
            Notifications
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user">
              <span class="badge badge-primary"></span>
            </i>
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br><br>
<div class="container" *ngIf="assignment">
  <h1>Edition de l'assignment {{assignment.nom}}</h1>
  <!--<form ngForm class="form">
    <mat-form-field>
      <input matInput placeholder="Edition du nom" [(ngModel)]="nomassignment" name="assignment-name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSaveAssignment()">
      Sauver
    </button>
    
  </form>-->
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Entrez le nom</ng-template>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Edition du nom" [(ngModel)]="nomassignment" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Entrez la date de rendu</ng-template>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" formControlName="secondCtrl" required>
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Edit</ng-template>
      <p>Voulez vous vraiment éditer cette modification ? </p>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="onSaveAssignment()">Edit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>
<div class="bottom section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="copyright">
          <p>© <span>2020</span> <a href="#" class="transition">Yede&Coulibaly</a> AngularProjects</p>
        </div>
      </div>
    </div>
  </div>
</div>
